<mat-table [dataSource]="customer">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
      </ng-container>

      <!-- CPF Column -->
      <ng-container matColumnDef="cpf">
        <mat-header-cell *matHeaderCellDef> CPF</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.cpf }} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nome</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>

      <!-- Birthdate Column -->
      <ng-container matColumnDef="birthdate">
        <mat-header-cell *matHeaderCellDef> Data de Nasc.</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.birthdate }} </mat-cell>
      </ng-container>

      <!-- Gender Column -->
      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef> Genero</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.gender }} </mat-cell>
      </ng-container>

      <!-- Mobile Column -->
      <ng-container matColumnDef="mobile">
        <mat-header-cell *matHeaderCellDef> Celular</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.mobile }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="action-column">
          <button (click)="onAdd()" mat-icon-button color="primary" aria-label="Cadastrar Novo Cliente">
            <mat-icon>person_add</mat-icon>
          </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let customer" class="action-column">
          <button (click)="onEdit(customer)" mat-icon-button color="accent" aria-label="Editar Cliente">
            <mat-icon>edit</mat-icon>
          </button>

          <button (click)="onDelete(customer)" mat-icon-button color="warn" aria-label="Excluir Cliente">
            <mat-icon>delete</mat-icon>
          </button>

        </mat-cell>
      </ng-container>
</mat-table>



<!--<mat-card class="form-size">-->
<!--  <mat-card-title>-->
<!--    <h2>Cadastrar Cliente</h2>-->
<!--  </mat-card-title>-->
<!--  <mat-stepper linear #stepper>-->

<!-- ---------------------------------------------- ** STEP 1 ** ---------------------------------------------- -->

<!--    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">-->
<!--      <form [formGroup]="firstFormGroup">-->
<!--        <ng-template matStepLabel>Dados Pessoais</ng-template>-->

<!--        <mat-form-field appearance="outline" [color]="colorControl.value!">-->
<!--          <mat-label>Name Completo</mat-label>-->
<!--          <input matInput formControlName="name" required>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline">-->
<!--          <mat-label>CPF</mat-label>-->
<!--          <input matInput formControlName="cpf" required>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline">-->
<!--          <mat-label>Email</mat-label>-->
<!--          <input matInput formControlName="email" placeholder="Ex. pat@example.com" required>-->
<!--        </mat-form-field>-->
<!--        <div>-->
<!--          <button type="button" mat-button matStepperNext>Próximo</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </mat-step>-->

<!-- ---------------------------------------------- ** STEP 2 ** ---------------------------------------------- -->

<!--    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">-->
<!--      <form [formGroup]="secondFormGroup">-->
<!--        <ng-template matStepLabel>Fill out your address</ng-template>-->
<!--        <mat-form-field appearance="outline">-->
<!--          <mat-label>Address</mat-label>-->
<!--          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"-->
<!--                 required>-->
<!--        </mat-form-field>-->
<!--        <div>-->
<!--          <button type="button" mat-button matStepperPrevious>Voltar</button>-->
<!--          <button type="button" mat-button matStepperNext>Próximo</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </mat-step>-->

<!-- ---------------------------------------------- ** STEP 3 ** ---------------------------------------------- -->

<!--    <mat-step>-->
<!--      <ng-template matStepLabel>Done</ng-template>-->
<!--      <p>You are now done.</p>-->
<!--      <div>-->
<!--        <button type="button" mat-button matStepperPrevious>Back</button>-->
<!--        <button type="button" mat-button (click)="stepper.reset()">Reset</button>-->
<!--      </div>-->
<!--    </mat-step>-->
<!--  </mat-stepper>-->


<!--</mat-card>-->


<!--<mat-card class="global-card">-->
<!--  <form class="global-form">-->
<!--    <mat-form-field appearance="outline" class="global-input-width">-->
<!--      <mat-label>Nome Completo</mat-label>-->
<!--      <input type="email" matInput [formControl]="nameFormControl" [errorStateMatcher]="matcherName">-->
<!--      <mat-error *ngIf="nameFormControl.hasError('required')">-->
<!--        Campo <strong>obrigatório</strong>-->
<!--      </mat-error>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field appearance="outline" class="global-input-width">-->
<!--      <mat-label>CPF</mat-label>-->
<!--      <input type="string" matInput [formControl]="cpfFormControl" [errorStateMatcher]="matcherCpf">-->
<!--      <mat-error *ngIf="cpfFormControl.hasError('required')">-->
<!--        Campo <strong>obrigatório</strong>-->
<!--      </mat-error>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field appearance="outline" class="global-input-width">-->
<!--      <mat-label>Email</mat-label>-->
<!--      <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcherEmail"-->
<!--             placeholder="Ex. pat@example.com">-->
<!--      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">-->
<!--        Insira um endereço de email válido-->
<!--      </mat-error>-->
<!--      <mat-error *ngIf="emailFormControl.hasError('required')">-->
<!--        Campo <strong>obrigatório</strong>-->
<!--      </mat-error>-->
<!--    </mat-form-field>-->
<!--  </form>-->
<!--</mat-card>-->
