@use '@angular/material' as mat;
@include mat.core();

$custom-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$light-blue-palette, 900),
    accent: mat.define-palette(mat.$yellow-palette, 700),
    warn: mat.define-palette(mat.$red-palette),
  ),
));

@include mat.all-component-themes($custom-theme);


html, body {
  height: 100%;
}

body {
  margin: 0;
}


.global-div {
  padding: 15px;
  border-radius: 10px;
  //border: 1px solid red;
}

.global-card {
  padding: 15px;
}

.global-img-config {
  width: 100%;
}

.global-form {
  min-width: 150px;
  max-width: 350px;
  width: 100%;
  //border: 1px solid blue;
}

.global-input-width {
  width: 100%;
  //border: 1px solid green;
}

.global-section{
  margin: 20px;
}

mat-table {
  overflow: auto;
  max-height: 400px;
}

.loading-spinner{
  background: rgba(0, 0, 0, 0.15);
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-flex{
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

.action-column{
  flex: 0 0 125px;
}
